body{
    margin: 0;
    padding: 0;
    overflow:visible; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header css start  */
    .container {
        background-image: url("../images/Banner Image.png"), url(../images/gr.png);
        width: 94%;
        background-size: 100%;
        height: 600px;
        /* margin: 25px; */
        margin-top: 50px;
        border-radius: 16px;
        background-repeat: no-repeat;
        text-align: center;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 50px;
    }
    .heading{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h3.sub-heading{
        color: white;
        text-align: center;
        padding-top: 130px;
        font-size: 30px;
        letter-spacing: 11px;
        padding-left: 40px;
    }
    h1.first-heading {
        font-size: 50px;
        width: 580px;
        padding-left: 370px;
        color: #fffff5;
        text-align: center;
    }


/* header css end  */

/* discount */
h1.discount {
    text-align: center;
    font-size: 50px;
    color: orangered;
}

.discount-info {
    text-align: center;
    margin-bottom: 50px;
}
h3.deal {
    color: orangered;
}
.discount-info img {
    width: 40%;
    padding-top: 30px;
}
/* new year banner */
.new-year-banner{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: 80%;
    height: 600px;
    background-position:center;
    border-radius: 15px;
}
.banner-container {
    display: flex;
    text-align: center;
    padding-left: 150px;
}
.banner-collum{
    width: 50%;
}
.banner-collum2{
    width: 50%;
}
.banner-collum2 img{
    width: 50%;
    margin-top: -13px;
    padding-left: 92px;
    margin-right: 295px;
}
.small-text{
    width: 628px;
    height: 176px;
    color: white;
    margin-top: 140px;
    font-size: 69px;
    letter-spacing: 5px;
}
p.medium-text {
    width: 510px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
}

button.btn-white {
    border: none;
    background: none;
    color: white;
    padding: 10px;
    font-size: 25px;
    margin-right: 300px;
    cursor: pointer;
}

/* new year banner */

/* place */
    span{
        color: #FF0000;
        
    }
    button.primary {
        text-align: center;
        border: none;
        background-color: #FF0000;
        padding: 13px 20px;
        margin: 10px;
        border-radius: 5px;
        color: white;
        font-size: 15px;
    }

    .container-place {
        text-align: center;
        background-image: url(../images/Artboard\ 1.png);
    }
    .container-place {
        text-align: center;
        width: 100%;
        background-repeat: no-repeat;
        background-image: url(../images/Artboard\ 1.png);
        background-position: center;
        background-size: 82%;
        border-radius: 16px;
        margin-bottom: 50px;
        height: 482px;
    }
    .sub-container {
        padding-top: 120px;
    }

/* place */
/* best offer */

.best-offer-containr {
    display: flex;
    gap: 50px;
    padding-bottom: 130px;

}

p.offer-description {
    width: 335px;
    color: gray;
}

p.offer-description1 {
    color: gray;
}
.best-offer-collum1 {
    width: 30%;
    text-align: left;
    margin-left: 115px;
}

.best-offer-collum3 img {
    width: 30%;
}

h3.soon {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}
h3.soon1 {
    font-size: 40px;
    font-weight: 600;
    color: #FF0000;
    margin-bottom: 10px;
}
h4.offer1 {
    margin-bottom: -25px;
    color: #FF0000;
}

.best-offer-collum2 {
    width: 30%;
    text-align: center;
}

.best-offer-collum3 {
    width: 30%;
    text-align: left;
}

.best-offer-collum2 img {
    width: 50%;
    border: 10px solid #FF0000;
    border-radius: 50%;
    padding: 15px;
}

/* best offer */

/* holy day*/
.holy-day-section {
    text-align: center;
}

h4.holy-day-sub-heading {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: -30px;
}

h3.holy-day-heading {
    font-size: 50px;
    font-weight: 600;
    font-family: monospace;
    margin-bottom: 20px;
}

p.holy-day-description {
    width: 458px;
    text-align: center;
    padding-left: 439px;
}



/* holy day*/

/* offer img section  */
section.offer-img {
    width: 1230px;
    margin-left: 70px;
}

.offer-img-container{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    border-radius: 5px;
}

.offer-img-container {
    display: flex;
}

img.box-img {
    width: 50%;
    margin-top: 180px;
    margin-left: 145px;
}

img.girl-img {
    width: 80%;
    margin-bottom: 226px;
    margin-left: 86px;
}



/* portfolio  section start */
.subscribe-container{
    background-image: url(../images/Artboard\ 1.png);
}

section.portfolio {
    width: 1250px;
    margin-left: 68px;
    margin-top: 120px;
}

h4.portfolio-sub-heading {
    color: #FF0000;
    font-size: 25px;
}

h3.portfolio-heading {
    font-size: 35px;
    font-weight: 600;
    color: black;
}

p.portfolio-description {
    width: 600px;
}

.portfolio-img-container {
    width: 1260px;
    margin: 20px;
}


.portfolio-img-collum1 {
    display: flex;
    gap: 20px;
}

.portfolio-img-collum2 {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}
 /* portfolio  section end */

   /* subscribe  section start */
   section.subscribe {
    text-align: center;
    margin-top: 100px;
}

h3.subscribe-heading {
    font-size: 35px;
    font-weight: 600;
}

input[type="email"] {
    border: none;
    background-color: white;
    padding: 15px 60px;
    border-radius: 34px;
}

button.subscribe-btn {
    border: none;
    background-color: #FF0000;
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}
img {
    padding-top: 100px;
}

section.subscribe {
    width: 1260px;
    margin-left: 50px;
}

form{
    padding-bottom: 60px;
}




  /* subscribe  section end */


  /* footer */

  .footer-main{
    background-color: #070211;
    text-align: left;
    width: 100%;
    height: 600px;
    margin-top: 100px;
  }

  p.para {
    color: white;
}

.footer-info-collum2 p {
    color: white;
}
.footer-info {
    display: flex;
    padding-top: 120px;
    gap: 500px;
    padding-bottom: 50px;

}

.footer-info-collum1{
    margin-left: 150px;
}
.footer-info-cullom{
    margin-left: 150px;
}

.footer-img-section {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
    margin-top: -50px;
}

.footer-info{
    display: flex;
    margin-top: -74px;
    gap: 500px;
    width: 1260px;
}
.footer-info p{
    color: #fffff5;
}
.footer-container{
    width: 1260px;
    padding-left: 60px;
}

.footer-main-info {
    margin-left: 50px;
}

hr {
    width: 90%;
}